@page "{id:int}"
@model Projeto.Pages.Drivers.EditModel

@* Título *@
<h1>Editar piloto</h1>

@* Cria um formulário que envia os dados para o método OnPostAsync do PageModel. *@
<form method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Driver.Id" />

    @* Nome do piloto. *@
    <div class="form-group mb-3">
        <label asp-for="Driver.Name">Nome</label>
        <input asp-for="Driver.Name" class="form-control" />
        <span asp-validation-for="Driver.Name" class="text-danger"></span>
    </div>

    @* Idade do piloto. *@
    <div class="form-group mb-3">
        <label asp-for="Driver.Age">Idade</label>
        <input asp-for="Driver.Age" class="form-control" />
        <span asp-validation-for="Driver.Age" class="text-danger"></span>
    </div>

    @* Nacionalidade do piloto. *@
    <div class="form-group mb-3">
        <label asp-for="Driver.Nationality">Nacionalidade</label>
        <input asp-for="Driver.Nationality" class="form-control" />
        <span asp-validation-for="Driver.Nationality" class="text-danger"></span>
    </div>

    @* Equipa do piloto. *@
    <div class="form-group mb-3">
        <label asp-for="Driver.TeamId">Equipa</label>
        <select asp-for="Driver.TeamId" class="form-control" asp-items="Model.TeamOptions"></select>
        <span asp-validation-for="Driver.TeamId" class="text-danger"></span>
    </div>

    @* Butões *@
    <button type="submit" class="btn btn-success">Guardar alterações</butto
    <a asp-page="Index" class="btn btn-secondary">Voltar</a>
</form>

@* Script *@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
